
<a name='link4'></a>
<section class="section">
	<div class="container">
		<div class="columns is-centered">

			<div class="column is-half is-8">
				<h1 class="title has-text-centered">
					{{ site.data.author.title }}
				</h1>
			</div>

		</div>
			<section class="section">
				<div class="columns is-centered">

					<div class="column is-4">
						<figure class="image is-squere">
							<img alt="Autor" src="{{ site.data.author.image }}">
						</figure>
					</div>
					<div class="column is-offset-1 is-4">
						<h1 class="title is-4">
							{{ site.data.author.name }}
						</h1>
						<p class="content">
							{{ site.data.author.description }}
						</p>
					
							<img width="290" height="180" src="/images/assinatura.png" alt="Assinatura {{ site.data.global.set_title }}">
				 
				</div>
					</div>



			</section>
	</div>
</section>