<section class="section">
	<div class="container">
		<div class="columns is-centered">

			<div class="column is-half is-offset-1 is-full">
				<h1 class="title has-text-centered">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, tenetur?
				</h1>
			</div>

		</div>
			<section class="section">
				<div class="columns is-centered">

					<div class="column is-4">
						<figure class="image is-squere">
							<img  src="/images/my_avatar.jpg">
						</figure>
					</div>
					<div class="column is-offset-1 is-4">
						<h1 class="title is-4">
							Marvio Rocha
						</h1>
						<p class="content">
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias provident fugiat consequuntur modi? Officia eaque veritatis adipisci libero voluptatem error distinctio voluptatum aliquam, quisquam ab placeat, amet accusamus earum aperiam.
						</p>
					</div>
				</div>



			</section>
	</div>
</section>