 <header>

   <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
 
      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
     <div id="navMenu" class="navbar-menu">
       <div class="navbar-end">

         <div class="level">
           {% for nav in site.data.nav.navigation %}
           <div class="level-item">
             <a id="{{ nav.url }}" class="navbar-item is-text-centered">
               {{ nav.title }}
             </a>
           </div>
           {% endfor %}

         </div>

       </div>
       <div class="navbar-end">
      
       </div>

       
     </div>
   </nav>
 </header>