 <header>
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
        

        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            
            <div class="level">

              <div class="level-item">
                <a id="link" class="navbar-item is-text-centered">
                  Home
                </a>
              </div>
               <div class="level-item">
               <img src="/images/logo.png" alt="">
              </div>
              <div class="level-item">
                <a id="autor" class="navbar-item is-text-centered">
                  Autor
                </a>
              </div>
            </div>

          </div>

          <div class="navbar-end">
            <!-- navbar items -->
          </div>
        </div>
      </nav>
    </header>