<section class="section">
 <div class="columns">
   <div class="column is-half is-offset-3 has-text-centered">
   <h1 class="title is-1">
     Dolor eveniet officia esse minusi
   </h1> 
   <h2 class="subtitle is-5"> Lorem nemo labore ab.</h2>
   </div>
 </div>
</section>

<section class="section">
  <div class="columns has-text-centered">
    <div class="column is-4">

      <span  style="font-size: 1.5em; color: #c1c1c1;" class="icon is-large">
        <i class="fas fa-heart fa-5x"></i>
      </span>
      <h3 class="title is-3">Ipsum cumque eius.</h3>
      <p class="content is-medium has-text-justify">
        Adipisicing aliquid odio eaque quo maxime Nesciunt necessitatibus impedit cupiditate.
      </p>
    </div>
    <div class="column is-4"> <span  style="font-size: 1.5em; color: #c1c1c1;" class="icon is-large">
        <i class="fas fa-music fa-5x"></i>
      </span>
            <h3 class="title is-3">Ipsum cumque eius.</h3>
      <p class="content is-medium has-text-justify">
        Adipisicing aliquid odio eaque quo maxime Nesciunt necessitatibus impedit cupiditate.
      </p>
      </div>
      <div class="column is-4">

        <span  style="font-size: 1.5em; color: #c1c1c1;" class="icon is-large">
          <i class="fas fa-headphones-alt fa-5x"></i>
        </span>
    <h3 class="title is-3">Ipsum cumque eius.</h3>
      <p class="content is-medium has-text-justify">
        Adipisicing aliquid odio eaque quo maxime Nesciunt necessitatibus impedit cupiditate.
      </p>
      </div>
  </div>
</section>
