<!-- Seles -->

  <div class="container">

    <div class="columns is-centered">
      <div class="column is-9 is-half ">

        <h1 class="title is-2 has-text-centered">{{ site.sele_title }}</h1>
        <h2 class="subtitle is-5 has-text-centered"> {{ site.sele_description }} </h2>

      </div>
    </div>
    <!-- start section card -->

    {% for sele in site.seles  %}
    <div class="columns is-gapless">

      <div class="column is-6  has-text-right">
        <section class="section">
          <h1 class="title is-1">{{ sele.title }}</a></h1>
          <h2 class="subtitle is-5">{{ sele.subtitle }}</h2>
          <h2 class="title is-2 has-text-danger"> R$ {{ sele.price }}</h2>
          <a target="_blank" href="{{ sele.buynow }}" class="button is-medium is-info is-rounded">Comprar Agora</a>
        </section>
      </div>
      <div class="column is-5">
        <figure class="image is-550x600">
          <img src="{{ site.url }}{{ sele.image }}">
          </p>
        </figure>
      </div>

    </div> <!-- // end column -->

    {% endfor %}
  </div>


 