<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />

</head>

<body> 

  <div class="container">
      {% include navigation.html %}   
  </div>

  <section class="hero is-medium is-light has-background is-transparent">
  <img alt="{{ site.title }}" class="hero-background is-transparent thumbnail" src="/images/teoria-musical.jpg" />
    <div class="hero-body">
      {% include home.html %}
    </div>
  </section>

  <div class="container">
    {% include part-one.html %}
  </div>

  {% include faq.html %}

  {% include autor.html %}

  {% include depoiment.html %}

  {% include sale.html %}

  {% include footer.html %}

  {% include analytics.html %}

  <!-- Javascript JS Inclued  -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
  <script src="{{ site.baseurl }}/script.js"></script>
  <script>
  $("document").ready(function(){
var image = document.getElementsByClassName('thumbnail');
new simpleParallax(image);
  });
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>
</html>
