<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />

</head>

<body>

  <div class="container">
    <header class="">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}">
            <img src="{{ site.avatar }}" alt="{{ site.name }}" width="125" height="125">
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            
            <div class="level">

              <div class="level-item">
                <a id="link" class="navbar-item">
                  Home
                </a>
              </div>
               <div class="level-item">
                <a id="link" class="navbar-item">
                  Sobre
                </a>
              </div>
              <div class="level-item">
                <a id="autor" class="navbar-item">
                  Autor
                </a>
              </div>
            </div>

          </div>

          <div class="navbar-end">
            <!-- navbar items -->
          </div>
        </div>
      </nav>
    </header>
  </div>

  <section class="hero is-medium is-light has-background is-transparent">
  <img alt="{{ site.title }}" class="hero-background is-transparent thumbnail" src="/images/teoria-musical.jpg" />
    <div class="hero-body">
      {% include home.html %}
    </div>
  </section>

  <div class="container">
    {% include part-one.html %}
  </div>

  {% include faq.html %}

  {% include autor.html %}

  {% include depoiment.html %}

  {% include sale.html %}

  {% include footer.html %}

  {% include analytics.html %}

  <!-- Javascript JS Inclued  -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
  <script src="{{ site.baseurl }}/script.js"></script>
  <script>
  $("document").ready(function(){
var image = document.getElementsByClassName('thumbnail');
new simpleParallax(image);
  });
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</body>
</html>
