<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <title>{% if site.data.global.set_title %}{{ site.data.global.set_title }} – {{ site.data.global.set_description | truncate: 120}} {% endif %}{{ site.name }} – {{ site.name }}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />


</head>

<body>

  <div class="container">
    {% include navigation.html %}
  </div>

  <section class="hero is-medium is-light has-background is-transparent">
    <img alt="Curso de teoria musical - Ebook" class="hero-background is-transparent thumbnail"
      src="/images/teoria-musical.jpg" />
    <div class="hero-body">
      {% include home.html %}
    </div>
  </section>

  <div class="container">
    {% include part-one.html %}
  </div>

  {% include faq.html %}

  {% include autor.html %}

  {% include depoiment.html %}

  {% include sale.html %}

  {% include footer.html %}

  {% include analytics.html %}

  <!-- Javascript JS Inclued  -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>
  <script src="{{ site.baseurl }}/assets/script.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c9d97886bba460528003914/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>

</html>